<a href="https://colab.research.google.com/github/estherUgwueke/hello-world/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population': [10000, 8500, 35000, 12000],
           'Age': [60, 70, 80, 75] }
import pandas as pd

In [ ]:
df = pd.DataFrame(df_dict)

In [ ]:
print(df)

   Country  Capital  Population  Age
0    Ghana    Accra       10000   60
1    Kenya  Nairobi        8500   70
2  Nigeria    Abuja       35000   80
3     Togo     Lome       12000   75

In [ ]:
df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])

In [6]:
df_list = [['Ghana', 'Accra', 10000, 60], 
           ['Kenya', 'Nairobi', 8500, 70], 
           ['Nigeria',   'Abuja', 35000, 80], 
           ['Togo', 'Lome', 12000, 75]]

In [7]:
df1 = pd.DataFrame(df_list, columns=['Country', 'Capital','Population', 'Age'], 
                   index=[2, 4, 6, 8])

In [8]:
print(df1)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [11]:
df.iloc[3]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [13]:
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object